# Automatically build the project and run any configured tests for every push
# and submitted pull request. This can help catch issues that only occur on
# certain platforms or Java versions, and provides a first line of defence
# against bad commits.

name: build
on:
  pull_request: 
  push: 
    branches:
      - main
      - 'release/**'
    paths-ignore:
      - '**.md'

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v4
      - name: setup jdk
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'microsoft'
      - name: Setup GitVersion
        uses: gittools/actions/gitversion/setup@v4.2.0
        with:
          versionSpec: 6.5.0

      - name: Set Version Properties
        id: version
        uses: gittools/actions/gitversion/execute@v4.2.0
          
      - name: make gradle wrapper executable
        run: chmod +x ./gradlew
        
      - name: build
        run: ./gradlew build -PsemVer="${{ steps.version.outputs.majorMinorPatch }}-${{ steps.version.outputs.commitsSinceVersionSource }}"
        
      - name: capture build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.version.outputs.branchName }}-${{ steps.version.outputs.majorMinorPatch}}-${{ steps.version.outputs.commitsSinceVersionSource }}
          path: build/libs/