name: publish
on: 
  release:
    types: [released]
  workflow_dispatch:
    
env:
  MINECRAFT_VERSION: 1.21.10
  JAVA_VERSION: 21
  RELEASE_NAME: ${{GITHUB_REF}}
  MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Extract Tag
        run: |
          echo "tag=${GITHUB_REF#refs/*/}" >> RELEASE_NAME
      - name: checkout repository
        uses: actions/checkout@v4
      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v4
      - name: setup jdk
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'microsoft'
      - name: make gradle wrapper executable
        run: chmod +x ./gradlew
      - name: build
        run: ./gradlew build
      - name: capture build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: build/libs/
      - uses: Kir-Antipov/mc-publish@v3.3
        name: Publish to Modrinth
        with:
          # Only include this section if you wish to publish
          # your assets on Modrinth.
          files: build/libs/!(*-@(dev\|sources\|javadoc)).jar
          modrinth-id: armor-hider
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
            