name: publish
on: 
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v5
      - name: setup jdk
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'microsoft'
      - name: Setup GitVersion
        uses: gittools/actions/gitversion/setup@v4.2.0
        with:
          versionSpec: 6.5.0

      - name: Set Version Properties
        id: version
        uses: gittools/actions/gitversion/execute@v4.2.0

      - name: make gradle wrapper executable
        run: chmod +x ./gradlew

      - name: build
        if: ${{ github.event_name == 'release' }}
        run: ./gradlew build -PsemVer="${{ steps.version.outputs.majorMinorPatch }}" -Pprerelease="${{ github.event.release.prerelease }}"
      
      - name: buildWhenDispatch
        if: ${{ github.event_name != 'release' }}
        run: ./gradlew build -PsemVer="${{ steps.version.outputs.majorMinorPatch }}-${{ steps.version.outputs.commitsSinceVersionSource }}" -Pprerelease="true"
      
      - name: capture build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: build-output
          path: build/libs/
      
  upload:
    if: ${{ github.event_name == 'release' }}
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download all workflow run artifacts
        uses: actions/download-artifact@v7
        with:
          path: artifacts

      - name: Upload to GitHub Release
        uses: xresloader/upload-to-github-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          release_id: ${{ github.event.release.id }}
          file: "artifacts/**/*.jar"
          overwrite: true
  